@import "mixins/bootstrap/bootstrap";


body{

}
.col-lg-6 {
  h1 {
    font-size: 40px;
  }
}
.desc{


}
.photo{
  display: inline-block;
  height: 300px;
  width: 230px;
}
.pagination{

}